<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/edit.css">
    <title>KMFFDB Edit Page</title>
</head>
<body>
    <header>  
        <h1 class="blue">KMFFDB</h1>
        <h5 class="blue">Keith & Mitch Fringe Film Database</h5>
      </header>
    <div id="info-fields"> 
        <h3 class="info">Edit <%=actor.name%></h3>

        <form action="/actors/<%=actor._id%>?_method=PUT" method="POST">
        <h3 class="info">Name</h3>
        <input type="text" name="name" id="fields" rows="4" cols="50" value=<%=actor.name%> placeholder="Name">
    
        <h3 class="info">Actor Photos</h3>
        <input type="text" name="imgUrl" id="fields" rows="4" cols="50" value=<%=actor.imgUrl%>placeholder="Actor Photo, URL's ONLY">
       

        <h3 class="info">Films</h3>
        <select name="titles">
            <option value="" disabled selected>Select a Film</option>
           <% movie.forEach( movie => { %>

            <option value="<%= movie._id%>">
                <%= movie.title %>
            </option>
      <% }); %>
        </select><br><br>

        <h3 class="blue">Edit Actor Bio</h3>

        <textarea id="review" name="actorBio" rows="4" cols="50" placeholder="Actor Bio..."></textarea>
        <input type="submit" value="Submit">

    </form><br>
      <br/><br>
    </div><br>

    <div id="bottom-buttons">
       <a href="javascript: javascript: history.go(-1)"><button class="add-btn" type="button">Back</button></a>
       <a href="/actors"><button class="add-btn" type="button">Home</button></a>
    </div>
    
</body>
</html>